.header {
	background-color: rgba(0, 0, 0, 0.9);
	padding: 1rem 0;
	position: sticky;
	top: calc(-1 * var(--safeInset-top));
	z-index: 1;

	margin-top: calc(-1 * var(--safeInset-top));
	padding-top: var(--safeInset-top);
}

.header-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	font-size: 1.5rem;
	font-weight: 700;
	color: #FFFFFF;
	letter-spacing: 0.5rem;
}

.header-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.kebab-menu {
	background: transparent;
	border: none;
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	cursor: pointer;
	padding: 8px;
	border-radius: 50%;
}

/* .kebab-menu:hover {
	background: rgba(255, 255, 255, 0.1);
} */

.kebab-dot {
	width: 4px;
	height: 4px;
	background: white;
	border-radius: 50%;
}
