.nav-bar {
	z-index: 1000;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom: var(--safeInset-bottom);

	display: flex;

	background-color: var(--color-surface);
	border-top: 1px solid var(--color-border);
}

.nav-item {
	flex: 1;

	display: grid;
	justify-items: center;
	align-content: center;
	padding: 0.5rem;
	padding-bottom: calc(0.5rem + var(--safeInset-bottom));
	margin-bottom: calc(-1 * var(--safeInset-bottom));
	gap: 0.15em;

	color: var(--color-text-light);
	text-align: center;
	cursor: pointer;
}

.nav-item.active {
	color: var(--color-primary);
	font-weight: 700;
	background: linear-gradient(
		to top,
		rgba(255, 255, 255, 0.005),
		rgba(255, 255, 255, 0.2)
	);
}

.nav-icon {
	width: 24px;
	height: 24px;
	margin-bottom: 4px;
	opacity: 0.7;
}

.nav-item.active .nav-icon {
	opacity: 1;
}

.nav-text {
	font-size: 0.8em;
}
